:root {
    --darkColor: rgba(0,0,0,0.7);
    --darkLightColor: rgba(0,0,0,0.5);
    --mainColor: #A62F24;
    --mainColorLight: rgba(166, 47, 36, 0.0);
    --mainColorLight2: rgba(166, 47, 36, 0.8);
    
    --secundaryColor: #8C5A5A;
    --contentColor: #590F0F;
    --backgroundColor: #F2EFDF;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    background-color: var(--backgroundColor);
    
}

/* en sass */
.l-viewportContainer {
    width: 100%;;
    min-height: 100vh;
}

/* .homeViewport {
    display: flex;
    justify-content: center;
    align-items: center;
} */

/* en sass */
.m-videoBackground {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100vh;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    z-index: 0;
    
}

.m-coverImage {
    /* padding: 1%; */
    width: 100%;
    min-height: 100vh;
    background-color: var(--darkLightColor);
    
    position: relative;
    z-index: 1000;
   
    display: flex;
    justify-content: center;
    align-items: center;
}

    .m-coverImage > img {
        width: 50%;
        height: 50%;
    }





.aboutUs {
    width: 100%;
    height: 100vh;
    /* min-height: 100vh; */
    font-size: 1.5rem;
    color: var(--contentColor);

    display: flex;
    flex-direction: column;
    
    
    padding-top: 10vh;
 
}



.textContent {
    /* border: 1px solid purple; */
    padding: 1.5rem;
    height: 30%;
   
}

.aboutUs > h1 {
    font-size: 4rem;
    padding: 1.5rem;
    text-align: center;
}


.parallax {
    width: 100%;
    height: 70%;
    background-image: url(/media/img-parallax.jpg);
    background-attachment: fixed;
    background-position: 0 10%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.eslogan {
    padding: 1.5rem;
    font-size: 1.5rem;
    color: bisque;
    background-color: var(--darkColor);
    box-shadow: 0 0 5px 1px var(--mainColor);
    border-radius: 10px;
    
}

.eslogan > p {
    text-align: center;
    padding: 1rem;
    border: 1px solid bisque;
    border-radius: 10px;
}

.footerImg {
    height: 20vh;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}
    .logoBox {
        width: 320px;
        height: 20vh;

        padding: 1rem;
    }
        .logoBox > img {
            width: 100%;
            height: 100%;
        }







/* .standarContent {
    width: 100%;
    min-height: 100vh;
    font-size: 1.5rem;
    color: var(--contentColor);
    display: flex;

    
    padding-top: 10vh;
} */

    .menuContent {
        /* border: 1px solid purple; */
        
        font-size: 1.5rem;
        padding-top: 10vh;
         
        

        display: flex;
        /* flex-direction: column; */
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        
        
        align-items: center;
        justify-content: space-evenly;
        

        color: var(--contentColor);
        /* text-shadow: 1px 1px 1px var(--mainColor); */
        
    
    }

        .menuDescription {
            width: 50%;
            
            padding: 0 10%;
            display: flex;
            
            align-items: center;
            justify-content: center;
            flex-direction: column; */
        }
        
        .menu-board {
            
            /* justify-self: flex-end; */
            height: 500px;
            width: 400px;
            
        }


        .board-img {
            width: 100%;
            height: 100%;
            border: 10px solid var(--mainColor);
                    

            border-radius: 15px;
            


            box-shadow: 0 10px 5px -5px var(--darkColor);
        } 



.standarContent {
    /* width: 100%;
    min-height: 100vh; */
    font-size: 1.5rem;
    color: var(--backgroundColor);
    background-image: url(/media/wood-light-summer-lunch.jpg);
       
    background-repeat: no-repeat;
    background-size: 100% 100%;
    /* padding-top: 10vh; */
    

    
    
}


.contactContainer {
    width: 100%;
    height: 100vh;
    background-color: var(--darkLightColor);
    padding-top: 10vh;
    position: relative;
    z-index: 1000;
   
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.contactForm {
    
    background-color: var(--darkColor);
    border: 5px solid var(--mainColor);
    box-shadow: 0 10px 5px -5px var(--darkColor);
    border-radius: 10px;
    
}

.map {
    
    border: 5px solid var(--mainColor);
    border-radius: 15px;
    box-shadow: 0 10px 5px -5px var(--darkColor);
    /* display: inline-block; */
    
    
}




footer {
    background-color: var(--contentColor);
    color: var(--backgroundColor);
    height: 15vh;
}




/* 
.imgContainer2 {
    height: 20vh;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}
    .logotipo {
        width: 320px;
        height: 20vh;

        padding: 1rem;
    }
        .img-logotipo {
            width: 100%;
            height: 100%;
        } */

        /* .sliderVieport {
            height: 100vh;
              
        } */