/* en sass */
:root {
    --darkColor: rgba(0,0,0,0.7);
    --darkLightColor: rgba(0,0,0,0.5);
    --mainColor: #A62F24;
    --mainColorLight: rgba(166, 47, 36, 0.0);
    --mainColorLight2: rgba(166, 47, 36, 0.8);
    
    --secundaryColor: #8C5A5A;
    --contentColor: #590F0F;
    --backgroundColor: #F2EFDF;
}

/* en sass */
@font-face {
    font-family: amarillo;
    src: url(/fonts/Amarillo.otf);
}

/* en sass */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* en sass */
.t-generalBackground {
    background-color: var(--backgroundColor);
    color: var(--mainColor);
    
}


/* en sass */
.l-generalViewport {
    width: 100%;;
    min-height: 100vh;
}


/* ==================================homepage============================= */
/* en sass */
.videoContainer {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100vh;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    z-index: 0;
    
}
/* en sass */
.coverContainer {
    /* padding: 1%; */
    width: 100%;
    min-height: 100vh;
       
    position: relative;
    z-index: 1000;
   
    display: flex;
    justify-content: center;
    align-items: center;
}
    /* en sass */
    .t-darkLight {
        background-color: var(--darkLightColor);
    }
    /* en sass */
    .coverContainer__cover {
        width: 50%;
        height: 50%;
    }

/* ===================AboutUS=============================== */

/* en sass */
.f-titles {
    font-family: amarillo;
}


.l-aboutUs {
     /* en sass */
    height: 100vh;
  
    display: flex;
    flex-direction: column;
    
    padding-top: 10vh;


}

    /*en sass*/
    .l-aboutUS__mainTitle {
        width: 100%;
        height: 15vh;
    }

    /*en sass*/
    .f-big {
        font-size: 3rem;

    }
    
    .aboutUs__mainTitle {

      
        /* en sass */
        margin-bottom: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 1.5rem;
    }


    /* en sass */
    .l-aboutUs__parallax {
        width: 100%;
        height: 60vh;
    }

      /* en sass */
    .aboutUs__parallax {
        background-attachment: fixed;
        background-size: 100% 100%;
        
        animation: parallaxSlider 45s ease-in-out infinite;
    }
        /* en sass */
        @keyframes parallaxSlider {
            0%, 100% {
                background-image: url(/media/img-parallax.jpg);
            }
            17% {
                background-image: url(/media/slider/1.jpg);
            }
        
            34% {
                background-image: url(/media/slider/2.jpg);
            }
            50% {
                background-image: url(/media/slider/3.jpg);
            }
            67% {
                background-image: url(/media/slider/4.jpg);
            }
            84% {
                background-image: url(/media/slider/5.jpg);
            }
        }    
    
    

    
        
    /* en sass */  
    .l-aboutUs__slogan{
        width: 100%;
        height: 15vh;
    }  

     /* en sass */  
    .aboutUs__slogan {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }


/* ===================Menu=============================== */       

    .l-theMenu {
        /* en sass */  
        padding-top: 10vh;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }

         /* en sass */ 
        .l-theMenu__description {
            height: 500px;
            width: 400px;
        }

        /* en sass */ 
        .theMenu__description {

            display: flex;
            align-items: center;
            justify-content: center;
            flex-flow: column;
            background-image: url(/media/menu_background.jpg);
            background-size: 100% 100%;
            box-shadow: 0 5px 5px 2px var(--darkColor);
            border: 5px solid var(--mainColor);
            border-radius: 15px;
        }

        /*en sass*/
        .f-medium {
            font-size: 2rem;
        }

        .description__subTitle {
            
            
            /* en sass */ 
            padding: 1rem;
            text-align: center;
        }

        /* en sass */ 
        .f-normal {
            font-size: 1.3rem;
        }
        /* en sass */ 
        .description__text{
            padding: 1rem;
            text-align: center;
        }
        


         /* en sass */ 
        .l-theMenu__board {
            
            /* justify-self: flex-end; */
            height: 500px;
            width: 400px;
            
        }

         /* en sass */ 
        .board__img {
            width: 100%;
            height: 100%;
            
            border: 10px solid var(--mainColor);
            border-radius: 15px;
            
            box-shadow: 0 5px 5px 2px var(--darkColor);
            
        } 

 /* ===================Contact=============================== */      

 /* en sass */
 .l-contact {
    width: 100%;
    height: 100vh;
    padding-top: 10vh;
    /* background-color: var(--darkLightColor); */
    
    
    position: relative;
    z-index: 1000;
   
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

/* en sass */
.t-contact {
   
    color: var(--backgroundColor);
    background-image: url(/media/wood-light-summer-lunch.jpg);
      
    background-repeat: no-repeat;
    background-size: 100% 100%;
}




/* en sass */
.contact__form {
    padding: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    border: 5px solid var(--mainColor);
    box-shadow: 0 10px 5px -5px var(--darkColor);
    border-radius: 10px;
    
}

/* en sass */
.contact__map {
    
    border: 5px solid var(--mainColor);
    border-radius: 15px;
    box-shadow: 0 10px 5px -5px var(--darkColor);
    /* display: inline-block; */
 
}

/* ===================Footer=============================== */    


/*en sass*/
.t-footer {
    background-color: var(--contentColor);
    color: var(--backgroundColor);
    
}

.l-footer {
    

    /* en sass */
    width: 100%;
    height: 15vh;

    padding: 1rem;

    display: flex;

    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    
}

    /* en sass */
    .f-small {
        font-size: 0.8rem;
    }

    /*en sass*/ 
    .footer__info {
        border: 1px solid green;
    }

    /* en sass */
    .l-footer__logo {
        
        border: 1px solid green;
        width: 160px;
        height: 10vh;
    }
    
    /* en sass */
    .logo__image {
        
        width: 100%;
        height: 100%;
    }

    /*en sass*/
    .footer__socialMedia {
        
        border: 1px solid green;
    }