@mixin dimension($l-width, $l-height) {
    width: $l-width;
    height: $l-height;
}

%viewporContainer {
    padding-top: 10vh;
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

%fullViewport {
    width: 100%;
    min-height: 100vh;
}

.l-{
    &generalViewport {
        @extend %fullViewport;
    }
    

    // About US section
    &aboutUs {
    //main container
        @include dimension(100%, 100vh);

        padding-top: 10vh;
        
        display: flex;
        flex-direction: column;

            &__mainTitle {
                @include dimension(100%, 15vh);
            }
                            
            &__parallax {
                @include dimension(100%, 60vh);
            }

            &__slogan {
                @include dimension(100%, 15vh);
            }
    }

    
    // the Menu section
    &theMenu {
        @extend %viewporContainer;

        &__description {
            @include dimension(400px, 500px);
        }

        &__board {
            @include dimension(400px, 500px);
        }
    }


    // Contact section
    &contact{
        @extend %fullViewport;
        @extend %viewporContainer;
    }


    // footer section
    &footer {
        //main container
        @include dimension(100%, 15vh);
        padding: 1rem;

        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;

       
        &__logo {
            @include dimension(160px, 10vh);
        }
    }

}