$darkColor: rgba(0,0,0,0.7);
$darkLightColor: rgba(0,0,0,0.5);
$mainColor: #A62F24;
$mainColorLight: rgba(166, 47, 36, 0.0);
$mainColorLight2: rgba(166, 47, 36, 0.8);
$secundaryColor: #8C5A5A;
$contentColor: #590F0F;
$backgroundColor: #F2EFDF;